<footer class="footer">
      <div class="container">
        <span class="text-muted">Copyright RJ 2017&copy;</span>
      </div>
    </footer>

</div>

<script type="text/javascript" src="/js/slowLoader.js"></script>
<script type="text/javascript">
	slowLoader(0.01, 0.01).then(() => {
		console.log("Done");
	});
</script>
</body>
</html>