<% include ./partials/header.ejs %>

	<h2 class="page-head">
		<span class="under-l">
			Cart
		</span>
	</h2>

	<ul>
		<% cart.items.forEach(i => { %>
			<li>
				<%= i.name %> - <%= i.quantity %> no's -
				<form action="/cart/<%= i._id %>?_method=delete" method="POST">
					<input type="submit" value="Remove Item" class="btn btn-danger btn-sm">
				</form>
			</li>
		<% }); %>
	</ul>
	<h4>Total: $ <%= cart.total %></h4>

<% include ./partials/footer.ejs %>